.container__home {
  margin-top: 100px;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.container__img img {
  animation: slideIn 1s ease-out;
  width: 300px;
  height: 300px;
  border-radius: 1000px;
}

@keyframes slidein {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.container__profile__content {
  animation: slidein 1s ease-out;
  width: 800px;
}

.profile__content {
  flex-wrap: wrap-reverse;
}

.container__profile__content h2 {
  color: #dedede;
  font-family: Manrope;
  font-size: 30px;
  font-style: normal;
  line-height: 35px;
  letter-spacing: -0.5px;
  margin-bottom: 10px;
}

.container__profile__content h5 {
  color: #959595;
  font-family: Manrope;
  font-size: 25px;
  font-style: normal;
  letter-spacing: -0.5px;
}

.container__profile__content,
.container__img {
  margin: 0 3rem;
}

@media (max-width: 924px) {
  .container__home {
    margin-top: 80px;
  }

  .container__profile__content,
  .container__img {
    margin: 0;
  }

  .container__profile__content {
    width: 100%;
    margin: 10px;
  }
}

@media (max-width: 302px) {
  .container__home {
    margin-top: 50px;
  }

  .container__img img {
    width: 200px;
    height: 200px;
  }

  .container__profile__content h2 {
    color: #dedede;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    line-height: 25px;
    letter-spacing: -0.5px;
    margin-bottom: 10px;
  }

  .container__profile__content h5 {
    color: #959595;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    letter-spacing: -0.5px;
  }
}
