@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #202020;
  font-family: "Roboto", sans-serif;
}

.container {
  justify-content: center;
  align-items: center;
  display: flex;
}
