@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  border: 0;
}

#hands {
  position: absolute; 
  z-index: 9999; 
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  justify-content: center;
  align-items: center;
  display: flex;
}
